@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    background: linear-gradient(135deg, #ffff, #fdc8a0);
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
